.nav {
    grid-area: nav;
    background-color: silver;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item .active {
    color: gold;
}

.frendsFoto img{
    border-radius: 30px;
    width: 30px;
    height: 30px;
}
